{% extends 'base.html.twig' %}

{% block title %}Расписание{% endblock %}

{% block bodycontent %}
    <twig:Sidebar/>

    <div class="example-wrapper">
        <h1>Hello {{ username }}!</h1>
    </div>
{% endblock %}
