{% extends 'schedule/index.html.twig' %}

{% block page_actions %}
    <div class="col-auto">
        <a href="{{ path('app_schedule_approve', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Согласовать</a>
        <a href="{{ path('app_schedule_export_csv', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-success" id="cancelButton" data-dismiss="modal">CSV</a>
        <a href="{{ path('app_schedule_export_xlsx', {'tempSchedule': scheduleId}) }}" type="button" class="btn btn-success" id="cancelButton" data-dismiss="modal">XLSX</a>
    </div>
{% endblock %}

{% block main %}
    {% if calendars is defined and calendars %}
        {{ parent() }}
    {% endif %}
{% endblock %}
