{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block title %}Рекомендации{% endblock %}

{% block bodycontent %}
    <twig:Sidebar/>

    <div class="example-wrapper">
        <h1>Hello {{ username }}!</h1>
    </div>
{% endblock %}
