<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Референс-центр приложение">
    <meta name="author" content="Поставил цель - добегайся">
    <title>Референс-центр</title>

    <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
</head>
